<script id="nugget" type="text/x-handlebars-template">
    
    <div class="nugget-top"></div>
    <hr/>
    <div class="nugget-bottom"></div>
    
</script>


<script id="nugget_top_edit" type="text/x-handlebars-template">
    
    <input class="span12" type="text" data="title" placeholder="Nugget Title"/>
    <textarea class="span12" data="description" placeholder="Nugget Description">{{ description }}</textarea>
    <p>Tags: <input type="text" class="tags" data="tags"/></p>
    <br/><br/>
    {{> item_edit_buttons }}
    
</script>


<script id="nugget_list" type="text/x-handlebars-template">
    
    <h2>Nuggets</h2>
    <ul>
        {{#each collection.models }}
            <li><a href="{{ ../url }}{{ id }}/">{{ attributes/title }}</a></li>
        {{/each }}
    </ul>

    <span class="edit"><button class="add-button btn success">Add nugget</button></span>
    
</script>


<script id="nugget_top" type="text/x-handlebars-template">
    
    <h2 data="title">{{ title }}</h2 >

    <div class="description" data="description">{{ description }}</div>

    {{#if tags }}<br/><b>Tags:</b> {{ tags }}<br/>{{{navlink tags}}}{{/if }}
    {{#if probeset.length }}{{#if user.loggedIn }}<span class="probetoggle"></span>{{/if}}{{/if}}

    <span class="editor-only"><button class="item-button edit-button btn success">Edit nugget details</button></span>
    
</script>

<script id="probe_enable" type="text/x-handlebars-template">
    <a href='{{url}}quiz/' class='btn quizme'>Quiz Me</a>
</script>

<script id="probe_disable" type="text/x-handlebars-template">
    <a href='{{url}}../' class='btn quizme'>Exit Quiz</a>
</script>

<script id="nugget_lecture_list" type="text/x-handlebars-template">

    <div id='studyapp' class='container'>
    <div id='lectureview' class='view'>
        <ul class='nav nav-pills'>
            {{#each lecture}}
            <li id='{{lecture}}'><a href='lecture/{{lecture}}/' class='lecture {{status}}'><p id='{{lecture}}'>{{title}}</p><p id='{{lecture}}'><strong id='{{lecture}}'>{{points}}</strong></p></a></li>
            {{/each}}
        </ul>
    </div>

</div>

</script>

<script id='filtered_nugget_list' type="text/x-handlebars-template">

    <hr/>
    <ul class='nav nav-pills'>
        {{#each nuggets}}
        <li><a href='../../../../{{attributes._id}}/' rel='tooltip' title='{{attributes.title}}' class='nugget {{status}} unclaimed'>{{attributes.title}}</a></li>
        {{/each}}
    </ul>

</script>
