<script id="analytics" type="text/x-handlebars-template">
    
    <div id="point-histogram"></div>
    
    <table class="student-stats"></table>
    
    <button class="btn success load-statistics">Load Statistics</button>
    
    <button class="btn danger hide-student-details">Hide Student Details</button>

</script>

<script id="student_stats_header" type="text/x-handlebars-template">

    <tr>
        <th>Student email</th>
        <th>Total points</th>
        <th>Nuggets claimed</th>
        <th>Nuggets attempted</th>
        <th>Questions correct</th>
        <th>Questions incorrect</th>
        <th>Percent correct</th>
    </tr>

</script>

<script id="student_stats_row" type="text/x-handlebars-template">

    <tr>
        <td title="Student email">{{ email }}</td>
        <td title="Total points">{{ total_points }}</td>
        <td title="Nuggets claimed">{{ claimed.length }}</td>
        <td title="Nuggets attempted">{{ attempted.length }}</td>
        <td title="Questions correct">{{ correct }}</td>
        <td title="Questions incorrect">{{ incorrect }}</td>
        <td title="Percent correct">{{#if percent}}{{ percent }}%{{/if}}</td>
    </tr>

</script>
