<script id="user_status_list" type="text/x-handlebars-template">
    <div>
    <h2>User Progress Summary</h2>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Life</th>
                <th>Shield</th>
                <th>No. Claimed</th>
                <th>Points Claimed</th>
                <th>No. Attempted</th>
                <th>No. Unclaimed</th>
            </tr>
        </thead>
        <tbody>
            {{#each collection.models }}
                <tr>
                    <td>{{attributes.email}}</td>
                    <td>{{attributes.life}}</td>
                    <td>{{attributes.shield}}</td>
                    <td>{{attributes.claimed.length}}</td>
                    <td>{{attributes.points}}</td>
                    <td>{{attributes.partial.length}}</td>
                    <td>{{attributes.unclaimed.length}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="footer">
    </div>
    </div>
</script>

<script id="user_status" type="text/x-handlebars-template">
    <div class="logged-in-only">
    <svg id = "svg_element" style ="height: 180px; width: 180px; float:right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                <stop offset="{{shieldstartoffset}}%" style="stop-color:rgb({{startcolour.red}},{{startcolour.green}},{{startcolour.blue}});stop-opacity:1" />
                <stop offset="100%" style="stop-color:rgb({{endcolour.red}},{{endcolour.green}},{{endcolour.blue}});stop-opacity:1" />
            </radialGradient>
             <path id="text_0_path" d="M {{leftX}},80 A {{shieldradius}},{{shieldradius}} 0 1,1 {{rightX}},80"/>
        </defs>
        <circle cx="80" cy="80" r='{{shieldradius}}' style="fill:url(#grad1); stroke: #005000;stroke-width: 0;"/>
        <circle cx="80" cy="80" r="{{liferadius}}" style="stroke-width:2; fill:#ff3300;stroke: #000000;"/> 
        <text x="80"  y="80" style="font-family:Arial; font-size:{{fontsize}}; fill:#000000; 
            text-anchor: middle; dominant-baseline: middle;">{{life}}</text>
        
        {{#if greaterthan60}}
            <text x="80"  y={{startshieldtext}} style="letter-spacing:2; font-family:Arial; font-size:20; fill:#000000; 
            text-anchor: middle; dominant-baseline: middle;">{{shield}}</text>
        {{else}}
            <text x="80"  y={{startoutershieldtext}} style="font-family:Arial; font-size:20; fill:#000000; 
            text-anchor: middle;">{{shield}}</text>
        {{/if}}
    </svg>
    </div>
</script>