<script id="filerow" type="text/x-handlebars-template">
    <div class='row-fluid file'>
        <div class='span2'>
            {{#if thumburl}}<img class='thumbnail' src='{{thumburl}}' alt='Thumbnail' />
            {{else}}<span class='label label-info'><i class='icon-{{type}} icon-white'></i></span>
            {{/if}}
        </div>
        <div class='span6 display'>
            <h3><fn class='filename'>{{name}}</fn>
                <button class='btn btn-danger trash'>
                    <i class='icon-trash icon-white'></i>
                </button>
            </h3>
        </div>
        <div class='span6 edit'>
            <input class='fileinput' type='text' value='' />
        </div>
        <div class='span4'>
            <div class='tags'>
                {{#each tags}}<span class='label label-warning'>{{this}}</span> {{/each}}
            </div>
        </div>
    </div>
</script>

<script id="filebrowser" type="text/x-handlebars-template">
    <div class='row-fluid filelist'>
        <div class='row-fluid'>
            <div class='span8'>
                <ul class='nav nav-pills'>
                    <li><a class='selectors' id='all'>All</a></li>
                    <li><a class='selectors' id='picture'>Images</a></li>
                    <li><a class='selectors' id='file'>Documents</a></li>
                    <li><a class='selectors' id='th-large'>Misc</a></li>
                </ul>
            </div>
            <div class='span4'>
                <ul class='nav nav-pills'>
                    <li class='dropdown'><a class='dropdown-toggle taghead' data-toggle='dropdown'>Tags<b class='caret'></b></a>
                        <ul class='dropdown-menu taglist'>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='btn-group' id='upchoose'>
        <iframe class='uploader'></iframe>
        <button class='btn' id='select'>Use This File</button>
    </div>
</script>