<script id="nugget" type="text/x-handlebars-template">
    
    <div class="nugget-top"></div>
    <hr/>
    <div class="nugget-bottom"></div>
    
</script>


<script id="nugget_top_edit" type="text/x-handlebars-template">
    
    <input class="span12" type="text" data="title" placeholder="Nugget Title"/>
    <textarea class="span12" data="description" placeholder="Nugget Description">{{ description }}</textarea>
    <p>Tags: <input type="text" class="tags" data="tags"/></p>
    <br/><br/>
    {{> item_edit_buttons }}
    
</script>


<script id="nugget_list" type="text/x-handlebars-template">
    
    <h2>Nuggets</h2>
    
    <p><i>Please use the tags and filters to review and quiz yourself on specific nuggets; to explore nuggets organized by lecture and cluster (subtopic), please use the "<a href="/course/study/">Study</a>" tab.</i></p>
    
    <div class="nuggetlist">
        <ul>
            {{#each collection.models }}
                {{#if attributes.title }}<li><a href="{{ ../../url }}{{ slug }}/">{{ attributes.title }}</a></li>{{/if}}
            {{/each }}
        </ul>
        <span class="editor-only"><button class="add-button btn success">Add nugget</button></span>
    </div>

    <div class="tagselectorview"></div>

    
</script>

<script id="tag_selector" type="text/x-handlebars-template">

    <div class="pagination logged-in-only">
        <ul>
            {{#each claimfilter}}<li {{#if selected}}class='active'{{/if}}><a href='{{url}}'>{{ text }}</a></li>{{/each}}
        </ul>
    </div>
    <div class='logged-in-only quizme'>
        <a href ='{{quiz.url}}' class='item-button btn primary quizme' title="Test yourself on the quiz questions in the selected nuggets">Quiz Me (with Feedback)</a></br></br>
        <a href ='{{test.url}}' class='item-button btn danger quizme' title="Take a practice test on the selected nuggets">Quiz Me (in Exam Mode)</a>
    </div>
    <div>
        {{#each taglist}}<a href='{{url}}'><span class='label {{#if selected}}success{{/if}}'>{{tagname}}</span></a>{{/each}}
    </div>
</script>

<script id="nugget_top" type="text/x-handlebars-template">
    
    <h2 data="title"></h2 >

    <div class="description" data="description"></div>

    <br/>
    <b>Tags:</b>
    <span data="tags">{{comma_join tags}}</span>
    <br/>{{{navlink tags}}}
    
    <span class="probetoggle logged-in-only"></span>

    <span class="editor-only"><button class="item-button edit-button btn success">Edit nugget details</button></span>
    
</script>

<script id="probe_enable" type="text/x-handlebars-template">
    {{#if probeset.length }}<a href='{{url}}quiz/take/' class='item-button btn primary quizme'>Quiz Me</a>{{/if }}
    <span class='editor-only'><a href='{{url}}quiz/edit/' class='item-button btn success quizme'>Edit Probes</a></span>
    {{#if claimed }}<a href='#' class='item-button btn danger quizme unclaim'>Unclaim Nugget</a><div class="claimed">Claimed!</div>{{else}}{{#if partial}}<div class="partial">Try again?</div>{{else}}{{#if unclaimed}}<div class="claimed">Reclaim?</div>{{/if}}{{/if}}{{/if }}
</script>

<script id="probe_disable" type="text/x-handlebars-template">
    <a id="exit_quiz" class='item-button btn danger quizme'>Exit Quiz</a>
</script>

<script id="probe_edit_disable" type="text/x-handlebars-template">
    <a href='../../' class='item-button btn info quizme'>Exit Probe Editing</a>
</script>

<script id="nugget_lecture_list" type="text/x-handlebars-template">

    <h1>Lectures</h1>

    <div id='studyapp' class='container'>
    <div id='themes' class='container'>
    <h3>Themes</h3>
    <div class="btn-group btn-group-justified">
    {{#each theme}}
    <a id='{{theme_id}}' class="btn theme">{{theme_name}}</a>
    {{/each}}
    </div>
    </div>
    <div id='lectureview' class='view'>
        <ul class='nav nav-pills'>
            {{#each lecture}}
            <li class="{{#if draft}}editor-only{{/if}}" id='{{lecture}}'><a href='{{ ../url }}lecture/{{lecture}}/' class='lecture {{status}} {{#each themes}}{{this}} {{/each}}'><div><p id='{{lecture}}'>{{title}}</p><div class='points'><p id='{{lecture}}'><strong id='{{lecture}}'>{{#if points}}<span class="badge">{{points}}</span>{{/if}}</strong></p></div></div></a></li>
            {{/each}}
        </ul>
    </div>
    {{#if totalpoints}}<h2>Total Points: {{totalpoints}}</h2>{{/if}}
</div>

</script>

<script id='filtered_nugget_list' type="text/x-handlebars-template">

    <hr/>
    <ul class='nav nav-pills'>
        {{#each nuggets}}
        <li><a href='{{ root_url }}nuggets/{{ slug }}/' rel='tooltip' title='{{attributes.title}}' class='nugget {{status}}'>{{attributes.title}}</a></li>
        {{/each}}
    </ul>

</script>
